<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
</head>
<body>
<th:block th:if="${message}">
    <p style="color: green" th:text="${message}"></p>
    <a href="/">Back To Home</a>
</th:block>
<form action="/resetsuccess" method="post" th:object="${user}">
    <table>
        <input type="text" th:field="*{status}" readonly="readonly" hidden>
        <input type="text" th:field="*{role.id}" readonly="readonly" hidden>
        <input type="text" th:field="*{pass}" readonly="readonly" hidden>
        <tr>
            <td><label>User ID:</label></td>
            <td><input type="text" th:field="*{id}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" th:field="*{name}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Full Name</label></td>
            <td><input type="text" th:field="*{fullName}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Avatar</label></td>
            <td><input type="text" th:field="*{avatar}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Answer 1: Question 1</label></td>
            <td><input type="text" th:field="*{Q1}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Answer 2: Question 2</label></td>
            <td><input type="text" th:field="*{Q2}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>New Password</label></td>
            <td><input type="text" name="password" id="password" autocomplete="off"></td>
            <td th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="New Password"></td>
        </tr>
    </table>
</form>
</body>
</html>